name: .NET Release

on:
  workflow_dispatch:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v?[0-9]+.[0-9]+.[0-9]+**'

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os: [win, linux, osx]

    steps:
    - name: Get Version
      id: get_version
      uses: battila7/get-version-action@v2.2.1
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Publish
      run: dotnet publish -c release -o publish/${{ matrix.os }} --os ${{ matrix.os }} -p:Version=${{ steps.get_version.outputs.version-without-v }} --verbosity normal
    - name: Zip Release
      # You may pin to the exact commit or the version.
      # uses: TheDoctor0/zip-release@591e9b128012d3328db6043d0d0266c3ac27f9b5
      uses: TheDoctor0/zip-release@0.6.1
      with:
        # Filename for archive
        filename: lsif-dotnet-${{ matrix.os }}-${{ steps.get_version.outputs.version-without-v }}.zip
        # Base path for archive files
        path: ${{ matrix.os }}/*
        # Working directory before zipping
        directory: publish/
    - name: GH Release
      # You may pin to the exact commit or the version.
      # uses: softprops/action-gh-release@1e07f4398721186383de40550babbdf2b84acfc5
      uses: softprops/action-gh-release@v0.1.14
      with:
        files: publish/*.zip
  
  push-nuget:
    runs-on: ubuntu-latest
    steps:
    - name: Get Version
      id: get_version
      uses: battila7/get-version-action@v2.2.1
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Pack
      run: dotnet pack -c release -p:Version=${{ steps.get_version.outputs.version-without-v }} --verbosity normal LsifDotnet/LsifDotnet.csproj
    - name: Publish Nuget
      run: dotnet nuget push LsifDotnet\nupkg\ --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json 
