name: .NET Release

on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v?[0-9]+.[0-9]+.[0-9]+**'

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Get Version
      id: get_version
      uses: battila7/get-version-action@v2.2.1
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Publish
      run: dotnet publish -c release -o publish -p:Version=${{ steps.get_version.outputs.version-without-v }} --verbosity normal
    - name: Github Release
      # You may pin to the exact commit or the version.
      # uses: elgohr/Github-Release-Action@ed9ebd01a0c57e64e948e7f2ff59c0159e52c204
      uses: elgohr/Github-Release-Action@v3.1
      with:
        # The name of the release to publish
        release: Release ${{ github.ref }}
    - name: GH Release
      # You may pin to the exact commit or the version.
      # uses: softprops/action-gh-release@1e07f4398721186383de40550babbdf2b84acfc5
      uses: softprops/action-gh-release@v0.1.14
      with:
        files: publish/**
